body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #0F0F11;
    ;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.navigation-container {
    width: 10%;
    max-width: 100px;
    min-width: 70px;
    background-color: #0F0F11;
}

.main {
    /* background-color: #fef;*/
    width: 60%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tweets-search-container {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-top: 30px;
    /* background-color: #ccc;*/
    border-bottom: 1px solid #979797;
}

.tweets-search-container input {
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}

.tweets-search-container input :focus {
    outline: none;
}

.tweets-search-container i {
    color: #fff;
    font-size: 30px;
}

.tweets-list {
    margin: 20px;
    height: 500px;
    background-color: rgb(252, 190, 190);
}

.tweet-container {
    margin: 10px;
    height: 100px;
    background-color: rgb(211, 235, 198);
    display: flex;
    flex-direction: column;
    border: 1px solid #1C1C1C;
}

.tweets-sidebar-container {
    flex-grow: 1;
    background-color: #cff;
    display: flex;
}

.tweets-sidebar {
    width: 200px;
    height: 500px;
    margin: 20px;
    background-color: #bcc;
}

.navigation {
    margin-top: 30px;
    color: #fff;
}

.fa-twitter,
.fa-hashtag,
.fa-home {
    color: #fff;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.fa-twitter {
    font-size: 30px;
}

.fa-home {
    width: 25px;
    color: #00ADFF;
}

.fa-hashtag {
    width: 26px;
    display: flex;
    justify-content: center;
}

.home-link {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-right: 3px solid #00ADFF;
}

.home-link i {
    color: #00ADFF;
}

.home-link:hover {
    border-right: 1px solid #00ADFF;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #979797;
    display: flex;
    justify-content: center;
}

.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.fa-search {
    padding-left: 10px;
}